<h2>Add new snippet</h2>
<form id="modify-snippet" action="#/">
    <div><input type="text" class="title" placeholder="Title" size="50" name="title" required="required" /></div>
    <div>
        <select class="language" required="required">
            <option value="PlainText">Plain Text</option>
            <option value="Markup">Markup</option>
            <option value="Twig">Twig</option>
            <option value="Css">CSS</option>
            <option value="CssExtras">CSS Extras</option>
            <option value="CLike">C-Like</option>
            <option value="Javascript">Javascript
            <option value="Java">Java</option>
            <option value="Php">PHP</option>
            <option value="PhpExtras">PHP Extras</option>
            <option value="CoffeeScript">CoffeeScript</option>
            <option value="Sass">SASS</option>
            <option value="Bash">Bash</option>
            <option value="C">C</option>
            <option value="CPluPlus">C++</option>
            <option value="Python">Python</option>
            <option value="Sql">SQL</option>
            <option value="Groovy">Groovy</option>
            <option value="Http">HTTP</option>
            <option value="Ruby">Ruby</option>
            <option value="Rip">Rip</option>
            <option value="Gherkin">Gherkin</option>
            <option value="CSharp">C#</option>
            <option value="Go">Go</option>
            <option value="Nsis">NSIS</option>
            <option value="AspNet">ASP.NET</option>
            <option value="Scala">Scala</option>
            <option value="Haskell">Haskell</option>
            <option value="Swift">Swift</option>
            <option value="ObjectiveC">Objective-C</option>
            <option value="AutoHotkey">AutoHotkey</option>
            <option value="Ini">Ini</option>
            <option value="Latex">LaTeX</option>
            <option value="Apache">Apache Config</option>
            <option value="Git">Git</option>
        </select>
    </div>
    <div><textarea class="code-input" required="required"></textarea></div>
    <div><button class="golden">Add</button></div>
</form>