<h2>Add new snippet</h2>
<form id="modify-snippet" action="#/">
    <div><input type="text" placeholder="Title" size="50" required="required" /></div>
    <div>
        <select required="required">
            <option>Plain Text</option>
            <option>C#</option>
            <option>PHP</option>
            <option>Javascript</option>
            <option>Python</option>
        </select>
    </div>
    <div><textarea class="code-input" required="required"></textarea></div>
    <div><button class="golden">Add</button></div>
</form>