<div id="register-field" class="auth-field">
    <h2>Sign Up</h2>
    <form id="sign-up-form" action="#/sign-in">
        <input type="text" class="username" placeholder="Username" name="username" required="required" /><br/>
        <input type="password" class="password" placeholder="Password" name="password" required="required" /><br/>
        <input type="password" class="rep-password" placeholder="Repeat Password" name="rep-password" required="required" /><br/>
        <input type="text" class="email" placeholder="Email" name="email" required="required" /><br/>
        <button class="golden">Register</button>
    </form>
</div>